@font-face {
  font-family: silk serif;
  src: url(./Fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
  font-family: plain light;
  src: url(./Fonts/plain-light-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "plain light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  /* cursor: none; */
  overflow-x: hidden;
}

#custom-cursor {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 1px solid #ffffff9f;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 9999;
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #000000;
  z-index: 999;
  padding: 18vh 12vw;
  position: absolute;
}

#loader .line {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5vw;
  line-height: 8vw;
}

#line1-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8vw;
  padding-left: 2vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 4vw;
  font-family: "silk serif";
  font-weight: 100;
}

#line1-part1 h5 {
  width: 7vw;
  text-align: right;
}

#loader .line h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 6.5vw;
  font-weight: 600;
}

.line h4 {
  font-size: 6vw;
  font-weight: 900;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  opacity: 0;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes h5Animation {
  0% {
    font-family: "plain light";
    font-weight: 500;
    color: #fff;
    opacity: 1;
    -webkit-text-stroke: 1px #fff;
  }
  48% {
    font-family: "plain light";
    font-weight: 500;
    color: #fff;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
  }
  50% {
    font-family: "silk serif";
    font-weight: 500;
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 1px #fff;
  }
  100% {
    font-family: "silk serif";
    font-weight: 500;
    color: transparent;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
  }
}

@keyframes h5Animation {
  0% {
    font-family: "plain light";
    font-weight: 500;
    color: #fff;
    opacity: 1;
    -webkit-text-stroke: 1px #fff;
  }
  48% {
    font-family: "plain light";
    font-weight: 500;
    color: #fff;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
  }
  50% {
    font-family: "silk serif";
    font-weight: 500;
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 1px #fff;
  }
  100% {
    font-family: "silk serif";
    font-weight: 500;
    color: transparent;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
  }
}

#loader #para {
  margin: 3vw 0 0 7vw;
}

#loader #para p {
  font-size: 1.2vw;
}

#super-main {
  position: relative;
  background-color: black;
}

#main {
  position: relative;
  background-color: #1b1b1b;
}

#page1 {
  height: 90vh;
  width: 100%;
  background-color: #1b1b1b;
  padding: 0 5vw 9vw 5vw;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
  position: sticky;
  z-index: 99999;
}

#nav-part2 {
  font-weight: 500;
  font-size: 1.1vw;
  margin-right: 36vw;
  margin-top: 3vw;
}

#nav-part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3vw;
}

#nav-part3 h4 {
  font-weight: 500;
  font-size: 1.1vw;
}

#main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  margin-left: 19.5%;
  margin-top: 14vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  z-index: 9999;
}

#number-one h1 {
  margin: 0;
  margin-top: 1vw;
  font-family: silk serif;
  font-weight: 500;
  font-size: 3.4vw;
  z-index: 999;
  position: relative;
}

.hero h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.2vw;
  line-height: 2.1vw;
  z-index: 999;
}

#hero3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2vw;
  z-index: 99;
}

#hero3 h2 {
  font-size: 2.2vw;
  line-height: 2.1vw;
  border-bottom: 0.2vw solid #fff;
  padding-bottom: 0.2vw;
  z-index: 999;
}

#hero3 h2:hover {
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: transparent;
}

#hero1,
#hero2,
#hero3,
#hero4 {
  z-index: 999;
  position: relative;
}

#flag {
  height: 30vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#page2 {
  height: 80vh;
  width: 100%;
  background-color: #1b1b1b;
  padding-top: 7.5vw;
}

#video-container {
  height: 35vw;
  width: 73vw;
  position: relative;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
}

#video-cursor {
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  background-color: #ffa63d;
  position: absolute;
  top: -10%;
  left: 70%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#video-cursor i {
  position: absolute;
  font-size: 2vw;
}

#video-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  -o-object-position: center;
     object-position: center;
}

#video-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: center;
     object-position: center;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  padding: 0 5vw;
  padding-bottom: -12vw;
}

#page3-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#number-two h1 {
  margin: 0;
  font-size: 4vw;
  font-family: silk serif;
  font-weight: 100;
  margin-left: 14vw;
  margin-top: 5vw;
  display: inline;
}

#page3-heading {
  width: 100%;
}

#page3-heading h1 {
  margin: 0;
  font-size: 2.2vw;
}

#page3 #underline {
  height: 2px;
  background-color: #ffffff83;
  margin-top: 2vw;
  margin-left: 21vw;
}

#page3-content {
  width: 100%;
}

#image-effect-container {
  margin-top: 7vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  padding-bottom: 1vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #fff;
  gap: 1vw;
  height: 41vw;
  width: 29vw;
}

.box h1 {
  margin: 0;
  margin-bottom: 1vw;
  font-weight: 600;
}

.box .image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.image-description p {
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 0.5vw;
}

.image-description p:nth-child(1) {
  width: 64%;
}

#box1 {
  height: 37vw;
  width: 24vw;
}

#box2 {
  height: 48vw;
  width: 30vw;
}

#box3 {
  margin-top: 12vw;
  height: 44vw;
  width: 29vw;
}

#box4 {
  height: 48vw;
  width: 31vw;
}

#box5 {
  height: 37vw;
  width: 24vw;
  margin-top: -8.6vw;
}

#box6 {
  margin-top: 10vw;
  height: 48vw;
  width: 31vw;
  margin-left: 2vw;
}

.page3-circle {
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#circle1 {
  margin-left: 9vw;
  margin-top: 23vw;
}

#circle2 {
  margin-top: 2vw;
}

#circle3 {
  margin-top: 30vw;
  margin-left: 6vw;
}

#circle2 svg {
  rotate: -45deg;
}

#circle3 svg {
  rotate: -90deg;
}

.page3-circle svg {
  height: 30%;
}

.circle-in {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #000;
  scale: 0;
  -webkit-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.page3-circle:hover .circle-in {
  scale: 1;
}

.circle-in p {
  color: #000;
  font-size: 1vw;
  width: 70%;
}

#last-circle-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90vh;
}

#last-circle {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: #ffa63d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

#last-circle p {
  color: #fff;
  font-size: 1.2vw;
}

#last-circle:hover {
  scale: 0.86;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  padding: 5vw 5vw;
  margin-top: -26vw;
}

#number-three h1 {
  margin: 0;
  font-size: 4vw;
  font-family: silk serif;
  font-weight: 100;
  margin-left: 14vw;
  margin-top: 5vw;
  display: inline;
}

#page4-heading h1 {
  margin: 0;
  font-size: 2.2vw;
}

.underline {
  height: 2px;
  background-color: #ffffff83;
  margin: 3vw 0 3vw 0;
}

#page4-content > p {
  width: 52%;
  font-size: 2.3vw;
}

#page4-flex {
  margin-top: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
}

#page4-flex img {
  width: 31vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#page4-flex p {
  width: 27%;
  font-size: 1.1vw;
  line-height: 1.2vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 42vw;
  padding: 4vw 3vw;
  position: relative;
  margin: -9vw 0 10vw 20vw;
}

.blue-div-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 0;
  border-bottom: 2px solid #ffffffa2;
}

.blue-div-elem h4 {
  font-size: 1.6vw;
  font-weight: 600;
}

.blue-div-elem p {
  font-size: 1.1vw;
  width: 55%;
  font-weight: 500;
}

#page4 p:nth-last-child(1) {
  font-size: 1vw;
  margin-top: -1.2vw;
}

#page5 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #1b1b1b;
}

.elem {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1vw;
}

.elem h1 {
  margin: 0;
  font-size: 8vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: marque;
          animation-name: marque;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#that-elem {
  margin: 0;
}

.elem h1 span {
  font-family: "silk serif";
  font-style: italic;
  font-weight: 400;
  color: transparent;
}

@-webkit-keyframes marque {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 16px));
            transform: translateX(calc(-100% - 16px));
  }
}

@keyframes marque {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 16px));
            transform: translateX(calc(-100% - 16px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow: hidden;
}

.elem2 h1 {
  margin: 0;
  font-size: 8vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: marque;
          animation-name: marque;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elem2 h1 span {
  font-family: "silk serif";
  font-style: italic;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
}

#footer {
  height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  padding: 8vw 5vw 5vw 5vw;
  margin-top: 5vw;
  position: relative;
}

#number-four h1 {
  margin: 0;
  font-size: 3.6vw;
  font-family: silk serif;
  font-weight: 100;
  margin-left: 14vw;
  margin-top: 5vw;
  display: inline;
}

.underline {
  height: 2px;
  background-color: #ffffff83;
  margin: 2vw 0 3vw 0;
}

#footer-content {
  width: 100%;
}

#foot-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

#foot-header i {
  margin-top: 0.5vw;
  font-size: 2.2vw;
}

#footer-heading {
  position: relative;
}

#footer-heading h1 {
  margin: 0;
  font-size: 2.2vw;
  position: relative;
}

#footer-heading h2 {
  font-size: 2.3vw;
  position: absolute;
  top: -5%;
  font-weight: 500;
  opacity: 1;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  left: 0;
  font-family: "silk serif";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
  overflow: visible;
}

#footer-heading h2 span {
  font-family: "silk serif";
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

#footer-heading i {
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  font-family: "silk serif";
  font-size: 2.2vw;
}

#links-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 7vw;
}

.links-box {
  width: 25%;
}

.links-box h6 {
  font-size: 1.1vw;
  font-weight: 500;
  padding-bottom: 2vw;
}

.links-box h5 {
  font-size: 1.8vw;
  font-weight: 500;
}

#footer-content h4 {
  font-weight: 500;
}

._canvas_container {
  z-index: 99999 !important;
  pointer-events: none !important;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
  #loader {
    padding: 18vh 5vw;
  }

  #page1 {
    height: 70vh;
  }

  #nav-part2 {
    font-size: 1.4vw;
  }

  #nav-part3 h4 {
    font-size: 1.4vw;
  }

  #number-one h1 {
    font-size: 4vw;
  }

  .hero h1 {
    font-size: 2.7vw;
    line-height: 2.7vw;
  }

  #hero3 h2 {
    font-size: 2.7vw;
    line-height: 2.7vw;
  }

  #page2 {
    height: 60vh;
    margin-bottom: -80vw;
  }

  #page3-heading h1 {
    font-size: 2.7vw;
  }

  #image-effect-container {
    margin-top: 7vw;
  }

  .box {
    margin-bottom: 2vw;
  }

  .box h1 {
    font-size: 2.1vw;
    margin-left: 0.5vw;
  }

  .image-description p {
    font-size: 1.5vw;
    margin-top: 0.5vw;
  }

  #box1 {
    height: 68vw;
    width: 42vw;
  }

  #box2 {
    height: 68vw;
    width: 41vw;
  }

  #box3 {
    margin-top: 0;
    height: 68vw;
    width: 42vw;
  }

  #box4 {
    height: 68vw;
    width: 42vw;
  }

  #box5 {
    height: 68vw;
    width: 42vw;
    margin-top: 0;
  }

  #box6 {
    margin-top: 0;
    height: 68vw;
    width: 42vw;
    margin-left: 0;
  }

  .page3-circle {
    display: none;
  }

  #last-circle-div {
    height: 50vh;
  }

  #last-circle p {
    font-size: 1.8vw;
  }

  #page4 {
    padding: 0 2vw 5vw 5vw;
    margin-top: -25vw;
  }

  #number-three h1 {
    font-size: 4vw;
  }

  #page4-heading h1 {
    font-size: 2.7vw;
  }
  #page4-content > p {
    width: 70%;
    font-size: 2.5vw;
  }

  #page4-flex {
    margin-top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3vw;
  }

  #page4-flex img {
    width: 36vw;
    height: 63vh;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #page4-flex p {
    width: 43%;
    font-size: 1.5vw;
    line-height: 1.2vw;
  }

  #page4-blue-div {
    margin: -14vw 0 10vw 20vw;
    width: 50vw;
  }

  .blue-div-elem h4 {
    font-size: 1.8vw;
  }

  .blue-div-elem p {
    font-size: 1.8vw;
    width: 55%;
  }

  #page4 p:nth-last-child(1) {
    font-size: 1.5vw;
    margin-top: 0vw;
    line-height: 1.5vw;
  }

  .elem h1 {
    margin-bottom: -2.5vw;
  }

  .elem h1 span {
    font-family: "silk serif";
    font-style: italic;
    font-weight: 400;
    color: transparent;
  }

  #that-elem {
    margin-top: -4vw;
  }

  .elem2 {
    white-space: nowrap;
    overflow: hidden;
  }

  .elem2 h1 {
    margin-top: -2.5vw;
  }

  #number-four h1 {
    font-size: 4vw;
  }

  #foot-header i {
    font-size: 2.7vw;
  }

  #footer-heading h1 {
    font-size: 2.7vw;
  }

  #footer-heading h2 {
    font-size: 2.7vw;
  }

  .links-box h6 {
    font-size: 1.5vw;
  }

  .links-box h5 {
    font-size: 1.9vw;
    font-weight: 500;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  #loader {
    padding: 25vh 4vw;
  }

  #loader .line {
    line-height: 6vw;
  }

  #line1-part1 h5,
  #line1-part1 h6 {
    font-size: 3vw;
  }

  #loader .line h1 {
    font-size: 5vw;
  }

  .line h4 {
    font-size: 4.5vw;
  }

  #loader #para {
    margin: 3vw 0 0 0vw;
  }

  #loader #para p {
    font-size: 1.8vw;
  }

  #page1 {
    height: 62vh;
    padding: 3vw;
  }

  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #nav-part1 {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #nav-part2 {
    display: none;
  }

  #nav-part3 {
    display: none;
  }

  #main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0vw;
    margin-top: 6vw;
    gap: 1vw;
  }

  #number-one h1 {
    font-size: 4.5vw;
  }

  .hero h1 {
    font-size: 4vw;
    line-height: 3.9vw;
  }

  #hero3 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  #hero3 h2 {
    font-size: 4vw;
    line-height: 3.9vw;
  }
  #flag {
    display: none;
  }

  #page2 {
    height: 70vh;
    padding-top: 2vw;
  }

  #video-container {
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  #video-cursor {
    height: 14vw;
    width: 14vw;
  }

  #video-cursor i {
    font-size: 3vw;
  }

  #page3 {
    min-height: 100vh;
    padding: 0 3vw;
    margin-bottom: -80vw;
  }

  #number-two h1 {
    margin-left: 0;
  }
  #page3-heading h1 {
    font-size: 3vw;
  }
  
  #page3 #underline {
    margin-left:0;
  }
  
  #page3-content {
    width: 100%;
  }
  
  #image-effect-container {
    margin-top: 7vw;
    padding: 0 5vw;
  }

  .underline{
    margin:0;
  }
  
  #box1 {
    height: 100vh;
    width: 100%;
  }

  #box2 {
    height: 125vh;
    width: 100%;
  }

  #box3 {
    margin-top: 0;
    height: 125vh;
    width: 100%;
  }

  #box4 {
    height: 125vh;
    width: 100%;
  }

  #box5 {
    height: 125vh;
    width: 100%;
    margin-top: 0;
  }

  #box6 {
    margin-top: 0;
    height: 125vh;
    width: 100%;
    margin-left: 0;
  }

  .box h1 {
    font-size: 3vw;
    margin-left: 1.4vw;
  }

  .image-description p {
    font-size: 1.9vw;
    margin-top: 1vw;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
  }

  .box{
    margin-bottom: 6vw;
  }
  
  #page4 {
    padding: 0 2vw 3vw 3vw;
    margin-top: -25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    margin-bottom: 5vw;
  }

  #number-three h1 {
    font-size: 4vw;
    margin-left: 0vw;
    display: block;
  }

  #page4-heading h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  #page4-content > p {
    width: 100%;
    font-size: 3vw;
    padding-top: 3vw;
  }

  #page4-flex {
    margin-top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  #page4-flex img {
    width: 100%;
    height: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #page4-flex p {
    width: 45%;
    font-size: 2vw;
    line-height: 2vw;
    
  }

  #page4-blue-div {
    margin: 3vw 0;
    width: 100%;
    height: 55vw;
  }

  .blue-div-elem{
    padding: 3vw 0;
  }

  .blue-div-elem h4 {
    font-size: 2.5vw;
  }

  .blue-div-elem p {
    font-size: 2vw;
    width: 55%;
  }

  #page4 p:nth-last-child(1) {
    font-size: 2vw;
    line-height: 2vw;
  }

  #footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3vw;
    gap: 1vw;
    
  }

  #number-four h1 {
    font-size: 4vw;
    margin: 0;
  }

  #foot-header i {
    font-size: 2.7vw;
    margin-top: -1.5vw;
  }

  #footer-heading h1 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  #footer-heading h2 {
    font-size: 4vw;
  }

  #links-box-container {
    margin-top: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 7vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5vw;
    margin-bottom: 3vw;
  }
  
  .links-box {
    width: 25%;
  }
  
  .links-box h6 {
    font-size: 2vw;
    font-weight: 500;
    padding-bottom: 2vw;
  }
  
  .links-box h5 {
    font-size: 2.5vw;
    font-weight: 500;
  }
  
  #footer-content h4 {
    font-weight: 500;
    margin-top: 3vw;
  }


}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  
@media (max-width: 600px) {
  #page3 {
    min-height: 100vh;
    padding: 0 3vw;
    margin-bottom: -110vw;
    margin-top: 20vw;
  }

  #number-two h1 {
    margin-left: 0;
    font-size: 5vw;
  }
  #page3-heading h1 {
    font-size: 4vw;
  }
  
  #page3 #underline {
    margin-left:0;
  }
  
  #page3-content {
    width: 100%;
  }
  
  #image-effect-container {
    margin-top: 7vw;
    padding: 0 0vw;
  }

  .underline{
    margin:0;
  }
  
  #box1 {
    height: 100vh;
    width: 100%;
  }

  #box2 {
    height: 100vh;
    width: 100%;
  }

  #box3 {
    margin-top: 0;
    height: 100vh;
    width: 100%;
  }

  #box4 {
    height: 100vh;
    width: 100%;
  }

  #box5 {
    height: 100vh;
    width: 100%;
    margin-top: 0;
  }

  #box6 {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    margin-left: 0;
  }

  .box h1 {
    font-size: 4vw;
    margin-left: 1.4vw;
  }

  .image-description p {
    font-size: 2.5vw;
    margin-top: 1.8vw;
    margin-left: 1.4vw;
    margin-bottom: 1.8vw;
  }

  .box{
    margin-bottom: 6vw;
  }

  #last-circle {
    height: 35vw;
    width: 35vw;
  }

  #last-circle p {
    font-size: 3vw;
  }
  
  #page4 {
    padding: 0 2vw 3vw 3vw;
    margin-top: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    margin-bottom: 5vw;
  }

  #number-three h1 {
    font-size: 4vw;
    margin-left: 0vw;
    display: block;
  }

  #page4-heading h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  #page4-content > p {
    width: 100%;
    font-size: 3.2vw;
    padding-top: 3vw;
  }

  #page4-flex {
    margin-top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  #page4-flex img {
    width: 100%;
    height: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #page4-flex p {
    width: 45%;
    font-size: 2.5vw;
    line-height: 2vw;
    
  }

  #page4-blue-div {
    margin: 3vw 0;
    width: 100%;
    height: 60vw;
  }

  .blue-div-elem{
    padding: 3.1vw 0;
  }

  .blue-div-elem h4 {
    font-size: 3vw;
  }

  .blue-div-elem p {
    font-size: 2.3vw;
    width: 55%;
  }

  #page4 p:nth-last-child(1) {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }

  #footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3vw;
    gap: 1vw;
    
  }

  #number-four h1 {
    font-size: 4vw;
    margin: 0;
  }

  #foot-header i {
    font-size: 2.7vw;
    margin-top: -1.5vw;
  }

  #footer-heading h1 {
    font-size: 4.5vw;
    margin-bottom: 3vw;
  }

  #footer-heading h2 {
    font-size: 4.5vw;
  }

  #links-box-container {
    margin-top: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 7vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5vw;
    margin-bottom: 3vw;
  }
  
  .links-box {
    width: 25%;
  }
  
  .links-box h6 {
    font-size: 3vw;
    font-weight: 500;
    padding-bottom: 2vw;
  }
  
  .links-box h5 {
    font-size: 3.5vw;
    font-weight: 500;
  }
  
  #footer-content h4 {
    font-weight: 500;
    margin-top: 3vw;
  }
}
